<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div id="{{article.id}}" class="panel panel-default" data-ng-repeat="article in articles | orderBy:'id'">
                <div class="panel-body">
                    <div class="page-header">
                        <h3>
                            {{article.title}}
                            <small>{{article.createdOn}}</small>
                        </h3>
                    </div>
                    <img class="featuredImg" src="img/350x150.gif"></img>
                    <p>{{article.content}}</p>
                    <!--<h4>A heading</h4>
                    <p>Sed ullamcorper, augue vitae lacinia auctor, lacus orci consequat nisi, sed tristique lorem nisi
                       nec dolor. Morbi lacinia urna orci, ac porta arcu condimentum sed. Nam eget dui vel leo mattis
                       consequat. Donec blandit gravida dui nec porttitor. Vestibulum pharetra, dui id malesuada
                       dapibus, augue mi egestas nunc, in laoreet quam nisl vitae enim. Vestibulum ut mollis magna. Sed
                       quis elit eget mi elementum faucibus sed scelerisque dui. Quisque lobortis erat est, semper
                       feugiat turpis fringilla vitae. Quisque faucibus est id sapien tristique accumsan. Sed vitae
                       volutpat lorem. Vivamus quis iaculis leo, vel molestie risus. In placerat varius augue, lobortis
                       gravida lectus mattis a. Cras pulvinar, mauris ut varius pulvinar, nisl lectus aliquam enim, quis
                       pharetra dui elit et diam. Etiam convallis turpis mollis quam dictum sodales.</p>-->
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="list-group">
                <a href="" class="list-group-item" ng-click="scrollTo(article.id)"
                   data-ng-repeat="article in articles | orderBy:'id'">
                    <h4 class="list-group-item-heading">{{article.title}}</h4>
                    <p class="list-group-item-text">{{article.content.substring(0,50) + ' ...'}}</p></a>
            </div>
        </div>
    </div>
</div>