<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h3>
                            Whatever you want
                            <small>posted on July 26th</small>
                        </h3>
                    </div>
                    <img class="featuredImg" src="img/350x150.gif"></img>
                    <p>Sed ullamcorper, augue vitae lacinia auctor, lacus orci consequat nisi, sed tristique lorem nisi
                       nec dolor. Morbi lacinia urna orci, ac porta arcu condimentum sed. Nam eget dui vel leo mattis
                       consequat. Donec blandit gravida dui nec porttitor. Vestibulum pharetra, dui id malesuada
                       dapibus, augue mi egestas nunc, in laoreet quam nisl vitae enim. Vestibulum ut mollis magna. Sed
                       quis elit eget mi elementum faucibus sed scelerisque dui. Quisque lobortis erat est, semper
                       feugiat turpis fringilla vitae. Quisque faucibus est id sapien tristique accumsan. Sed vitae
                       volutpat lorem. Vivamus quis iaculis leo, vel molestie risus. In placerat varius augue, lobortis
                       gravida lectus mattis a. Cras pulvinar, mauris ut varius pulvinar, nisl lectus aliquam enim, quis
                       pharetra dui elit et diam. Etiam convallis turpis mollis quam dictum sodales.</p>
                    <h4>A heading</h4>
                    <p>Sed ullamcorper, augue vitae lacinia auctor, lacus orci consequat nisi, sed tristique lorem nisi
                       nec dolor. Morbi lacinia urna orci, ac porta arcu condimentum sed. Nam eget dui vel leo mattis
                       consequat. Donec blandit gravida dui nec porttitor. Vestibulum pharetra, dui id malesuada
                       dapibus, augue mi egestas nunc, in laoreet quam nisl vitae enim. Vestibulum ut mollis magna. Sed
                       quis elit eget mi elementum faucibus sed scelerisque dui. Quisque lobortis erat est, semper
                       feugiat turpis fringilla vitae. Quisque faucibus est id sapien tristique accumsan. Sed vitae
                       volutpat lorem. Vivamus quis iaculis leo, vel molestie risus. In placerat varius augue, lobortis
                       gravida lectus mattis a. Cras pulvinar, mauris ut varius pulvinar, nisl lectus aliquam enim, quis
                       pharetra dui elit et diam. Etiam convallis turpis mollis quam dictum sodales.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Loren Ipsum</h4>
                    <p class="list-group-item-text">Nulla facilisi. Aenean a dignissim elit, ac rhoncus elit. Morbi at
                                                    nisi ultrices, rhoncus nisi sit amet, sodales ante.</p></a>
            </div>
        </div>
    </div>
</div>