<div class="container">
    <div class="jumbotron text-center">
        <h1>Hello, World!</h1>
        <p>Etiam suscipit dictum molestie. Maecenas lobortis quam nisi, non auctor risus ultricies in. Sed nisi nunc,
           vestibulum eget vulputate vitae, condimentum eget massa. Mauris semper mollis velit et lacinia. Fusce vel
           lacus neque. Sed pellentesque arcu sed blandit aliquet. Aenean pharetra ligula ac arcu facilisis tempus.</p>
        <a class="btn btn-default">Watch Now!</a>
         
        <a class="btn btn-info">Twitter</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>
                <a href="#">$500 Gaming PC Bild</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus, lorem ac malesuada aliquam, velit
               odio lobortis nunc, id interdum nulla tellus sed lectus. Duis id nibh ligula. Vestibulum vitae velit orci.</p>
            <a href="#" class="btn btn-default">Read More</a>
        </div>
        <div class="col-md-3">
            <h3>
                <a href="#">$500 Gaming PC Bild</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus, lorem ac malesuada aliquam, velit
               odio lobortis nunc, id interdum nulla tellus sed lectus. Duis id nibh ligula. Vestibulum vitae velit orci.</p>
            <a href="#" class="btn btn-default">Read More</a>
        </div>
        <div class="col-md-3">
            <h3>
                <a href="#">$500 Gaming PC Bild</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus, lorem ac malesuada aliquam, velit
               odio lobortis nunc, id interdum nulla tellus sed lectus. Duis id nibh ligula. Vestibulum vitae velit orci.</p>
            <a href="#" class="btn btn-default">Read More</a>
        </div>
        <div class="col-md-3">
            <h3>
                <a href="#">$500 Gaming PC Bild</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus, lorem ac malesuada aliquam, velit
               odio lobortis nunc, id interdum nulla tellus sed lectus. Duis id nibh ligula. Vestibulum vitae velit orci.</p>
            <a href="#" class="btn btn-default">Read More</a>
        </div>
    </div>
</div>